<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isAuthPage">

    <ion-button (click)="dismissModal()" *ngIf="isModal">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>


    </ion-buttons>
    <div class="header-title">
      <ion-title>{{ title }}</ion-title>
    </div>
    <ion-buttons slot="end">


      <ion-button (click)="toggleDarkMode()">
        <ion-icon slot="icon-only" name="moon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>