ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0056d2;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  --color: #fff;
}

.nav-button ion-icon {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 4px;
}

.nav-button span {
  font-size: 14px;
  color: #fff;
  display: block;
  margin-top: -4px;
  text-align: center;
}
