<app-header title="Market"></app-header>

<ion-content>
  <ion-item-sliding class="product-item" *ngFor="let p of products">
    <ion-item>
      <ion-item>
        <ion-label>
          <div class="name">{{ p.name }}</div>
        </ion-label>
        <div class="data">
          <strong>Precio:</strong> {{p.price | currency:'CLP'}}
          <strong>Descripción:</strong> {{p.description}}
        </div>
      </ion-item>
    </ion-item>
    <ion-item-options color="primary" side="start">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-options>
    <ion-button color="primary">
      Comprar
    </ion-button>


    
    

  </ion-item-sliding>
 
<app-footer></app-footer>
